
<%= form_with model: @character do |form| %>

  Nazwij swoją postać:
  <div>
    <%= form.text_field :name %>
  </div>

  <br>

  <div id="class_radio_container">
    <%= form.radio_button :class, "warrior" %>
    <%= form.radio_button :class, "hunter" %>
    <%= form.radio_button :class, "mage" %>
    <%= form.label :class_warrior, "Warrior" %>
    <%= form.label :class_hunter, "Hunter" %>
    <%= form.label :class_mage, "Mage" %>
    <%= image_tag "warrior.png", class: "class_icon" %>
    <%= image_tag "hunter.png", class: "class_icon" %>
    <%= image_tag "mage.png", class: "class_icon" %>
  </div>

  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>