
<%= form_with model: @character do |form| %>
  <div>
    <%= form.label :Nazwa %><br>
    <%= form.text_field :Nazwa %>
  </div>

  <div>
    <%= form.label :eeee %><br>
    <%= form.text_field :eeee %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>