
<%# <div class="d1"> %>
<div id = "profile_container">
    
    <%# <div id="d2"> %>
    <div id = "character_container">
        <%# <div></div> %>
        <div id = "character_name"> <%= @character.name %> </div>
        <%# <div></div> %>
        <div class = "equipment", id = "equipment_left">
            <br> <%= image_tag "helmet.png", class: "item" %>
            <br> <%= image_tag "armor.png", class: "item" %>   
            <br> <%= image_tag "legs", class: "item" %>
            <br> <%= image_tag "boots.png", class: "item" %>
        </div>

        <div id = "avatar_image">
            <% if @character.character_class == 'warrior' %>
                <%= image_tag "warrior_full.png", class: "avatar_image" %>    
            <%elsif @character.character_class == 'hunter' %>
                <%= image_tag "hunter_full.png", class: "avatar_image" %>    
            <% else %>
                <%= image_tag "mage_full.png", class: "avatar_image" %>    
            <% end %>
        </div>

        <div class = "equipment", id = "equipment_right">
            <br> <%= image_tag "sword.png", class: "item" %>   
            <br> <%= image_tag "shield.png", class: "item" %>
            <br> <%= image_tag "ring1.png", class: "item" %>   
            <br> <%= image_tag "ring2.png", class: "item" %>
        </div>

        <div id="character_healthbar">
            <div id="myBar" class="hpbar" style="width:25%">
                <div class="hpbarcenter">25%</div>
            </div>
        </div>
    </div>

    
    <%# <div class ="d3"> %>
    <div id = "stats_container">

    <%# form_for(resource, as: resource_name, url: path(resource_name)) do |f| %>

        <div class = "d3v1">
            <table class = "stats_table">
                <tr>
                    <td> STR </td>
                </tr>  
                <tr>  
                    <td> DEX </td>
                </tr>  
                <tr>  
                    <td> STM </td>
                </tr>  
                <tr>  
                    <td> INI </td>
                </tr>
            </table>
        </div>
        
        <div class = "d3v2">
            <table class = "stats_table">
                <tr>
                    <td> <%= @statistic.strength %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.dexterity %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.stamina %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.initiative %> </td> 
                </tr>
            </table>
        </div>

        <div class = "d3v2_1">
            <table class = "stats_table">
                <tr>
                    <td> <%= @statistic.added_strength %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.added_dexterity %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.added_stamina %> </td> 
                </tr>
                <tr>
                    <td> <%= @statistic.added_initiative %> </td> 
                </tr>
            </table>
        </div>

        <div class = "d3v3">
            <table class = "stats_table">
                <tr>
                    <td> <%= image_tag "plusik.png", class: "ui" %> </td> 
                </tr>
                <tr>
                    <td> <%= image_tag "plusik.png", class: "ui" %> </td> 
                </tr>
                <tr>
                    <td> <%= image_tag "plusik.png", class: "ui" %> </td> 
                </tr>
                <tr>
                    <td> <%= image_tag "plusik.png", class: "ui" %> </td> 
                </tr>
            </table>
        </div>

        <div class = "d3v4">
            <br>
            <table>
            <tr>
                <td>31</td> 
            </tr>
         </table>
         <button type="button">
            Akceptuj
         </button>
        </div>
    <%# end %>
        <div class = "bag">
            ale eq wypasione
        </div>
        
    </div>

</div>

