<%= stylesheet_link_tag "character"%>

<div class="d1">
    <div class="d2">
        <div class = "d2v1">
            <br> <%= image_tag "helmet.png", class: "item" %>
            <br> <%= image_tag "armor.png", class: "item" %>   
            <br> <%= image_tag "legs", class: "item" %>
            <br> <%= image_tag "boots.png", class: "item" %>
        </div>

        <div class = "d2v2">
            <%= image_tag "morda.png", class: "avatar" %>    
        </div>

        <div class = "d2v3">
            <br> <%= image_tag "sword.png", class: "item" %>   
            <br> <%= image_tag "shield.png", class: "item" %>
            <br> <%= image_tag "ring1.png", class: "item" %>   
            <br> <%= image_tag "ring2.png", class: "item" %>
        </div>

        <div class="hp">
                <div id="myBar" class="hpbar" style="width:25%">
                  <div class="hpbarcenter">25%</div>
                </div>
              </div>
        </div>

    <div class ="d3">
        <div class = "d3v1">
            <br> STR
            <br> DEX 
            <br> STM
            <br> INI
        </div>

        <div class = "d3v2">
            <br>
            <table>
            <tr>
                <td>31</td> 
            </tr>
            <tr>
                <td>32</td> 
            </tr>
            <tr>
                <td>31</td> 
            </tr>
            <tr>
                <td>31</td> 
            </tr>
         </table>
        </div>

        <div class = "d3v2_1">
            <br>
            <table>
            <tr>
                <td>31</td> 
            </tr>
         </table>
        </div>

        <div class = "d3v3">
            <br> <%= image_tag "plusik.png", class: "ui" %>   
            <br> <%= image_tag "plusik.png", class: "ui" %>
            <br> <%= image_tag "plusik.png", class: "ui" %>   
            <br> <%= image_tag "plusik.png", class: "ui" %>
        </div>

        <div class = "d3v4">
            <br>
            <table>
            <tr>
                <td>31</td> 
            </tr>
         </table>
         <button type="button">
            Akceptuj
         </button>
        </div>

        <div class = "bag">
            ale eq wypasione
        </div>
        
    </div>

</div>

