<!DOCTYPE html>
<html>
  <head>
    <title>Bibliomat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('book.ico') %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="topbar">
      <div class="logo">
        <p class="logo__text">Karkonoska Biblioteka Publiczna</p>
      </div>
      <div class="login">
        <div class="dropdown">
          <% if user_signed_in? %>
            <button class="dropbtn"><%= current_user.email %></button>
            <div class="dropdown-content">
              <a href="#">Konto</a>
              <a href="#">Wypożyczone</a>
              <%= button_to 'Wyloguj', destroy_user_session_path, method: :delete %>
            </div>
          <% else %>
            <button class="dropbtn">Nie zalogowany</button>
            <div class="dropdown-content">
              <%= link_to 'Zaloguj', new_user_session_path %>
              <%= link_to 'Zarejestruj', new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </header>
      <div class="content">
        <nav class="sidebar">
          <div class="menu">
            <ul>
              <li><a href="/">Aktualności</a></li>
              <li><%= link_to 'Wyszukaj', books_path %></li>
              <li><a href="/tavern">Rezerwacje</a></li>
              <li><a href="#Arena">Wypożyczone</a></li>
              <li><a href="/ranking">Konto</a></li>
            </ul>
          </div>
        </nav>
        <main class="main">
          <%= yield %>
        </main>
      </div>
    </body>
  </html>
