<!DOCTYPE html>
<html>
  <head>
    <title>Wenszowa Dolina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
      <header class="topbar">
    <div class="logo">
      <%= image_tag "megawonsz9_crop_transparent.png" , class: "logo__img" %>
      <p class="logo__text">Wenszowa Dolina</p>
    </div>
    
    <div class="login">
      <div class="dropdown">
        <% if user_signed_in? %>
          <button class="dropbtn"><%= current_user.email %></button>
          <div class="dropdown-content">
            <a href="#">Profil</a>
            <a href="#">Postacie</a>
            <%= button_to 'Wyloguj', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <button class="dropbtn">Nie zalogowany</button>
          <div class="dropdown-content">
            <%= link_to 'Zaloguj', new_user_session_path %>
            <%= link_to 'Zarejestruj', new_user_registration_path %>
          </div>
        <% end %>
      </div>
      
  </header>

      
  <div class="content">
      <nav class="sidebar">
      <div class="character">
        <% if @selected_character.character_class=='warrior' %>
              <%= image_tag "warrior.png" , class: "character__view" %>
            <%elsif @selected_character.character_class=='hunter' %>
              <%= image_tag "hunter.png" , class: "character__view" %>
            <% else %>
              <%= image_tag "mage.png" , class: "character__view" %>
            <% end %>
        <div class="character__info">
          <p class="character__info--username"><%= @selected_character.name %></p>
          <p class="character__info--level">Level <%= @selected_character.level %></p>
        </div>
      </div>
      <div class="activity">
        <h2 class="activity__status">Na misji</h2>
        <p class="activity__title">Zorientowanie sie w cenie biletów na mecz ligi mistrzów</p>
        <div class="activity__progress_bar--border">
          <div class="activity__progress_bar--fill"></div>
        </div>
        <p class="activity__time_left">pozostało 21:37 do końca</p>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Główna</a></li>
            <li><a href="/characters">Drużyna</a></li>
            <li><a href="/tavern">Tawerna</a></li>
            <li><a href="#Arena">Arena</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="#Kosciol">Kosciol</a></li>
            <li><a href="#Szkola">Szkola</a></li>
            <li><a href="#Strzelnica">Strzelnica</a></li>
        </ul>
      </div>
    </nav>
      <main class="main">
      <%= yield %>
      </main>
      </div>
      
  </body>
</html>
